[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=
Exec=/opt/firefox/firefox
Icon=firefox
Path=
Terminal=false
StartupNotify=true
Categories=Network;

